body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0,0,0,0.12);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
}

.logo1 {
  font-weight: 400;
  font-style: bold;
  color: rgba(0,0,0,0.54);
  font-size: 22px;
}

.logo2 {
  font-weight: 900;
  font-style: bold;
  font-size: 22px;
  color: rgba(0,0,0,0.4);
}

.wrapper {
  padding: 100px;
  text-align: center;
  overflow: hidden;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group label{
  font-size: 14px;
  font-weight: 400;
  flex-basis: 30%;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 0;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 3px;
  margin: 8px;
  flex-basis: 70%;
  height: 40px;
}

.checkbox {
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
  color: rgba(0,0,0,0.45);
}

input[type="checkbox"] {
  margin: 0;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 3px;
  font-size: 16px;
  margin-top: 15px;
  color: rgba(0,0,0,0.5);
  margin-right: 15px;
  background-color: rgba(0,0,0,0.02);
}

button:hover {
  border: 1px solid rgba(0,0,0,0.05);
  background-color: rgba(0,0,0,0.05);
  color: #000000;
}

#sendMail {
  display: none;
}

.log_box {
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  margin-top: 50px;
  padding: 0 10px;
  padding-bottom: 20px;
  display: none;
}

.log_header {
  color: rgba(0,0,0,0.5);
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  position: relative;
}

.eraser {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,0.55);
  font-style: bold;
  cursor: pointer;
}

#log {
  text-align: left;
}

span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.45);

}

footer {
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  display: flex;
  flex-direction: row;
}

footer p {
  font-style: italic;
  display: inline-block;
  flex: 1;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255,255,255,0.7);
}

footer span {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255,255,255,0.7);

}


